header {

    .box {
        padding: 50px 0px;
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 100%;
        min-height: 100%;

        p, h1 {
            min-width: 300px;
            margin-left: 10%;
        }

        p {
            width: 50%;
            font-size: 2rem;
            margin-bottom: 20px;
            line-height: 135%;
            font-family: 'Lola';
            opacity: .8;
        }

        h1 {
            font-size: 5rem;
            font-weight: normal;
            font-family: monospace;
        }

        .blink {
            display: inline-block;

            &:after {
                content: "_";
                position: relative;
                display: inline-block;
                bottom: 10px;
                -webkit-animation: blink 1s linear infinite;
            }
        }
    }
}

@-webkit-keyframes blink {
    0% {opacity: 0;}
    45% {opacity: 0;}
    55% {opacity: 1;}
    100% {opacity: 1;}
}
