header {

    .box {
        padding: 50px 0px;
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 100%;
        min-height: 100%;

        p, input, textarea {
            min-width: 300px;
            margin-left: 10%;
            width: 50%;
        }

        p {
            font-size: 2rem;
            margin-bottom: 20px;
            line-height: 135%;
            font-family: 'Lola', serif;
            opacity: .8;
        }

        input {
            font-size: 5rem;
            font-weight: normal;
            font-family: monospace;
            outline: none;
            border: none;

            &::-webkit-input-placeholder {
                color: black;
            }
        }

        textarea {
            font-size: 1.5rem;
            font-weight: lighter;
            font-family: 'Lola', serif;
            outline: none;
            border: none;
        }
    }
}
