{
    "port": 8080,
    "mongo": {
        "endpoint: "",
        "port": 27017,
        "username": "",
        "password": ""
    },
    "aws": {
        "accessKeyId": "",
        "secretAccessKey": "",
        "region": "us-west-2"
    },
    "s3": {
        "bucket": ""
    }
}
