.blink, .underscore{
    display: inline-block;

    &:after {
        content: "_";
        position: absolute;
        font-size: .85em;
        bottom: .15em;
    }
}

.underscore {
    padding-right: .5em;
}

.blink:after {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {opacity: 0;}
    45% {opacity: 0;}
    55% {opacity: 1;}
    100% {opacity: 1;}
}
