@import "main";
@import "entry";
@import "submitter";

@import "animation/blink";

// top nav links
#nav {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#container {
    overflow-y: scroll;
}


// home page
header {

    .home {
        padding: 50px 0px;
        width: 90%;
        padding-left: 10%;


        p {
            font-size: 2rem;
            margin-top: 20px;
            line-height: 135%;
            font-family: 'Lola', serif;
            opacity: .8;
            min-width: 300px;
            max-width: 700px;
        }

        h2 {
            font-size: 5rem;
            font-weight: normal;
            font-family: monospace;
            outline: none;
            border: none;
        }
    }
}

nav a {
    background-color: rgba(255,255,255, .3);
    text-decoration: none;
    color: rgb(30,30,30);
    padding: 1px;
    border-radius: 2px;

    transition: color .1s, background-color .1s;

    &:hover {
        color: rgb(0,0,0);
        background-color: rgba(255,255,255, .4);
    }
}

footer {
        padding: 50px 0px;
        width: 90%;
        padding-left: 10%;

        opacity: .8;

    p {
        font-family: 'Lola', serif;
        font-size: 2.5rem;
    }

    span {
        font-family: monospace;
        font-size: 2.5rem;
    }
}
