<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>my password is...</title>
        <base href="/" />
        <meta name="viewport" content="width=device-width, initial-scale=.8, maximum-scale=.8, user-scalable=no">
        <link href="/static/style/index.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    </head>
    <body box>
        <%- content %>
    </body>
    <script src="/static/script/app.js"></script>
</html>
