[box] {
    display: block;
    width: 100%;
    min-height: 100vh;

    &[strict] {
        height: 100vh;
    }
}

[box=half] {
    min-height: 50vh;

    &[strict] {
        height: 50vh;
    }
}

[box=quarter] {
    min-height: 25vh;

    &[strict] {
        height: 25vh;
    }
}
