<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Admin</title>
        <link href="/static/style/admin.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div id="container">
            <entry class="{{entry.view.type}} {{entry.view.classes.join(' ')}}">
                <div class="password">{{entry.password}}</div>
                <div class="reason">{{entry.reason}}</div>
            </entry>
            <div id="settings">

            </div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
        <script src="/static/script/admin.js"></script>
    </body>
</html>
