<div class="box">
    <div class="top" expand="!model.password">
        <p>
            We despise them – <br> yet we imbue them with our
            hopes and dreams, our dearest memories, our
            deepest meanings.
        </p>
        <p>They unlock much more than our accounts.</p>
    </div>

    <input class="blink" placeholder="password" ng-model="model.password">

    <div class="bottom" expand="!!model.password">
        <textarea placeholder="Why is your password special?" ng-model="model.reason"></textarea>
        <button ng-click="create()">submit</button>
        <div>
            <a href="#">is this safe?</a>
            <a href="#">test</a>
        </div>
    </div>
</div>
