<div box direction="vertical" class="edit" ng-if="!saved">

    <div class="field">
        <input type="text"
            ng-model="entry.password"
            required="required"
            placeholder="your password"
        />
    </div>

    <div class="field" expand="entry.password">
        <textarea ng-model="entry.reason"
            required="required"
            placeholder="your story"
        ></textarea>
    </div>

    <div class="field buttons" expand="entry.password && entry.reason">
        <label>
            <span box>background image</span>
            <input fileread="entry.image" type="file" />
        </label>
    </div>

    <div class="field buttons" expand="entry.password && entry.reason">
        <div direction="horizontal" align="start">
            <button flex="2" ng-click="save()">submit</button>
            <button flex="1" ng-click="entry.password = ''; entry.reason = '';">clear</button>
        </div>
    </div>
</div>
<entry ng-if="saved" entry="entry"></entry>
