<div box direction="vertical" class="edit" ng-if="!saved">

    <form name="form">
        <div class="field"
            error="Required."
            ng-class="{invalid: !form.password.$valid, valid: $form.password.$valid}">
            <input type="text"
                name="password"
                ng-model="entry.password"
                ng-required="true"
                placeholder="your password"
            />
        </div>

        <div class="field"
            ng-class="{invalid: !form.reason.$valid, valid: $form.reason.$valid}"
            error="Too short."
            expand="entry.password">
            <textarea name="reason"
                ng-model="entry.reason"
                ng-required="true"
                ng-minLength="50"
                placeholder="your story"
            ></textarea>
        </div>

        <div class="field" expand="entry.password && entry.reason">
            <label>
                <span box>background image</span>
                <input fileread="entry.image" type="file" />
            </label>
        </div>

        <div class="field" expand="entry.password && entry.reason">
            <div direction="horizontal" align="start">
                <button flex="2" ng-click="save()">submit</button>
                <button flex="1" ng-click="entry.password = ''; entry.reason = '';">clear</button>
            </div>
        </div>
    </div>
</div>
<entry ng-if="saved" entry="entry"></entry>
