footer {
        padding: 50px 0px;
        width: 90%;
        padding-left: 10%;

        opacity: .8;

    p {
        font-family: 'Lola', serif;
        font-size: 2.5rem;
    }

    span {
        font-family: monospace;
        font-size: 2.5rem;
    }
}
